node_modules/
.next/
out/
dist/

*.tsbuildinfo
*.log
.env*
!.env.example

*.zip
kindbite_placeholder_webp_assets/
public/kindbite-assets/
public/kindbite_proper_section_images_webp/
public/kindbite_section_images_webp/

.vercel
